<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EyeTrackingMouse.SudokuGridSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EyeTrackingMouse.OverlaySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EyeTrackingMouse.Overlay" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="EyeTrackingMouse.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <EyeTrackingMouse.SudokuGridSettings>
            <setting name="StrokeSize" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SecondaryStrokeSize" serializeAs="String">
                <value>0.5</value>
            </setting>
            <setting name="FontSize" serializeAs="String">
                <value>12</value>
            </setting>
            <setting name="NumberOfColumns" serializeAs="String">
                <value>32</value>
            </setting>
            <setting name="NumberOfRows" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="BackgroundOpacity" serializeAs="String">
                <value>0.18</value>
            </setting>
            <setting name="TextOpacity" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="StrokeOpacity" serializeAs="String">
                <value>0.4</value>
            </setting>
            <setting name="SecondaryStrokeOpacity" serializeAs="String">
                <value>0.2</value>
            </setting>
        </EyeTrackingMouse.SudokuGridSettings>
        <EyeTrackingMouse.OverlaySettings>
            <setting name="IsSimpleCrosshair" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCrosshairVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoHideGrid" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="VerticalScrollIndicatorPosition" serializeAs="String">
                <value>0</value>
            </setting>
        </EyeTrackingMouse.OverlaySettings>
        <EyeTrackingMouse.Overlay>
            <setting name="IsSimpleCrosshair" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="IsCrosshairVisible" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="AutoHideGrid" serializeAs="String">
                <value>False</value>
            </setting>
        </EyeTrackingMouse.Overlay>
        <EyeTrackingMouse.Properties.Settings>
            <setting name="MainDisplayIndex" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="IsSnapEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="IsHeadTrackingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CursorSpeed" serializeAs="String">
                <value>4</value>
            </setting>
            <setting name="VerticalScrollRate" serializeAs="String">
                <value>75</value>
            </setting>
            <setting name="IsScrollingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HorizontalScrollRate" serializeAs="String">
                <value>25</value>
            </setting>
        </EyeTrackingMouse.Properties.Settings>
    </userSettings>
</configuration>